<ion-view title="转账记录" id="transferRecord-view">
	<ion-content>
   		<div class="month_box">
			<p class="month">本月</p>
			<ion-list>
				<ion-item class="details-border details-border-top">
					<span class="icomImg"></span>
					<div class="transferAmount">
						<p class="amount">－18.00</p>
						<p class="amountUser">转账18元-13908979870</p>
					</div>
					<div class="transferState">等待付款</div>
					<div class="transferDate">
						<p class="p1">今日</p>
						<p class="p2">09-29</p>
					</div>
				</ion-item>
				<ion-item class="details-border details-border-top">
					<span class="icomImg"></span>
					<div class="transferAmount">
						<p class="amount">－18.00</p>
						<p class="amountUser">转账18元-13908979870</p>
					</div>
					<div class="transferState">等待付款</div>
					<div class="transferDate">
						<p class="p1">今日</p>
						<p class="p2">09-29</p>
					</div>
				</ion-item>
				<ion-item class="details-border details-border-top">
					<span class="icomImg icomImgFailure"></span>
					<div class="transferAmount">
						<p class="amount">－18.00</p>
						<p class="amountUser">转账18元-13908979870</p>
					</div>
					<div class="transferState transferFailure">交易失败</div>
					<div class="transferDate">
						<p class="p1">今日</p>
						<p class="p2">09-29</p>
					</div>
				</ion-item>
			</ion-list>
   		</div>
		<div class="month_box">
			<p class="month">本月</p>
			<ion-list>
				<ion-item class="details-border details-border-top">
					<span class="icomImg"></span>
					<div class="transferAmount">
						<p class="amount">－18.00</p>
						<p class="amountUser">转账18元-13908979870</p>
					</div>
					<div class="transferState">等待付款</div>
					<div class="transferDate">
						<p class="p1">今日</p>
						<p class="p2">09-29</p>
					</div>
				</ion-item>
				<ion-item class="details-border details-border-top">
					<span class="icomImg"></span>
					<div class="transferAmount">
						<p class="amount">－18.00</p>
						<p class="amountUser">转账18元-13908979870</p>
					</div>
					<div class="transferState">等待付款</div>
					<div class="transferDate">
						<p class="p1">今日</p>
						<p class="p2">09-29</p>
					</div>
				</ion-item>
				<ion-item class="details-border details-border-top">
					<span class="icomImg"></span>
					<div class="transferAmount">
						<p class="amount">－18.00</p>
						<p class="amountUser">转账18元-13908979870</p>
					</div>
					<div class="transferState">等待付款</div>
					<div class="transferDate">
						<p class="p1">今日</p>
						<p class="p2">09-29</p>
					</div>
				</ion-item>
			</ion-list>
   		</div>
   		<!-- <div class="transferRecordNone">
			<img>
			<p>您最近没有转账记录</p>
   		</div> -->
	</ion-content>
</ion-view>