<ion-view title="" id="transferTowallet-view">
	<ion-content>
	    <div class="transferTowallet_One" style="display: none;">
			<h2>转到全时钱包账户</h2>
			<p>全时钱包可以为您安全的转移资金，即时传递您的转帐信息</p>
			<ion-list class="transferTowallet">
				<ion-item class="item-icon-left realName-border">
					<span class="rechargeNum"></span>
					<input type="text" name="" placeholder="请输入对方11位手机号">
				</ion-item>
				<div class="submitBut">下一步</div>
			</ion-list>
	    </div>
	    <div class="transferTowallet_Two" style="display: none;">
			<h2>梁赵军</h2>
			<p>13220120070</p>
			<ion-list class="transferTowallet">
				<ion-item class="item-icon-left realName-border">
					<span class="rechargeNum rechargeMoney"></span>
					<input type="text" name="" placeholder="请输入对方11位手机号">
				</ion-item>
				<ion-item class="item-icon-left realName-border">
					<span class="rechargeNum rechargeText"></span>
					<input type="text" name="" placeholder="添加转账说明（20个字以内）">
				</ion-item>
				<div class="submitBut">提交</div>
			</ion-list>
	    </div>
	    <div class="transferTowallet_Three">
			<h2>梁赵军</h2>
			<p class="p1">13220120070</p>
			<p class="p2"><span></span>20.06</p>
			<p class="p3">请输入支付密码</p>
			<div class="enterPassword">
			    <input type="password">
			    <input type="password">
			    <input type="password">
			    <input type="password">
			    <input type="password">
			    <input type="password">
			</div>
			<p class="p4">使用账户余额付款</p>
	    </div>
	</ion-content>
</ion-view>