<ion-view title="转账详情" id="transferDetails-view">
	<ion-nav-buttons side="right">
      <button class="button button-light">
        完成
      </button>
    </ion-nav-buttons>
	<ion-content>
	    <div class="recePerson">
			<p class="p1">收款人：梁赵军 13220120070</p>
			<p class="p2"><b>￥</b>200</p>
			<p class="p3"><span></span>转账成功</p>
	    </div>
	    <ion-list>
			<ion-item class="details-border">
				<p><span>转账说明</span>招商银行(尾号2450)</p>
			</ion-item>
			<ion-item class="details-border details-border-top">
				<p><span>创建时间</span>2016-09-28 09:39:32</p>
			</ion-item>
			<ion-item class="details-border details-border-top">
				<p><span>订单号</span>24088810824883028100</p>
			</ion-item>
	    </ion-list>  
	</ion-content>
</ion-view>