<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码2</title>
    <!--让IE以最新的内核渲染 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!--让视口宽度为设备宽度,不允许用户缩放 -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <!--不自动识别电话号码和邮编 -->
    <meta name="format-detection" content="telephone=no,email=no"/>
    <!--开启对webapp的支持 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--强制全屏显示 -->
    <meta name="full-screen" content="yes">
    <!--禁止浏览器从缓存中访问页面内容 -->
    <meta http-equiv="Pragma" content="no-cache">
    <!--web app 应用下状态(屏幕顶部条)的颜色,默认值为 default(白色) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="wrap">
    <header class="header">
        <p>忘记密码</p>
        <a href="login.html"><img src="../images/fanhui@2x.png"></a>
    </header>
    <main class="main">
        <section class="password_title">
            <h1>找回登录密码</h1>
        </section>
        <section class="password_con">
            <ul class="password_list">
                <li>
                    <a class="list_wrap">
                        <input id="" type="text" placeholder="135 4563 4565">
                        <span>59秒后再获取</span>
                    </a>
                </li>
                <li>
                    <a class="list_wrap">
                        <input type="text" placeholder="23">
                    </a>
                </li>
                <li>
                    <a class="list_wrap">
                        <input type="text" placeholder="请输入图片验证码">
                        <img class="fr" src="../images/yanzhenma.png">
                    </a>
                </li>
            </ul>
            <p class="password_next ">
                <a class="fr next_2">下一步</a>
            </p>
        </section>
    </main>
</div>
<script src="../js/jquery-1.12.3.min.js"></script>
<script src="../js/index.js"></script>
</body>
</html>