<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置支付密码</title>
    <!--让IE以最新的内核渲染 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!--让视口宽度为设备宽度,不允许用户缩放 -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <!--不自动识别电话号码和邮编 -->
    <meta name="format-detection" content="telephone=no,email=no"/>
    <!--开启对webapp的支持 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--强制全屏显示 -->
    <meta name="full-screen" content="yes">
    <!--禁止浏览器从缓存中访问页面内容 -->
    <meta http-equiv="Pragma" content="no-cache">
    <!--web app 应用下状态(屏幕顶部条)的颜色,默认值为 default(白色) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../../route.js"></script>
</head>
<body>
<div class="wrap">
    <header class="header">
        <p>设置支付密码</p>
        <a href="login.html"><img id="backImg" src="?" onerror="imgUrl('images/fanhui@2x.png','backImg');"></a>
    </header>
    <main class="main main_password">
        <section class="password_title">
            <h1>请设置支付密码</h1>
        </section>
        <section class="password_con">
            <ul class="password_list">
           		<li>
                    <a class="list_wrap password_list_wrap">
                        <input id="login_psw" type="password" placeholder="请输入登录密码">
                    </a>
                </li>
                <li>
                    <a class="list_wrap password_list_wrap">
                        <input id="payPsw" type="password" placeholder="请输入六位数字支付密码">
                    </a>
                </li>
                <li>
                    <a class="list_wrap password_list_wrap">
                        <input id="confirm_psw" type="password" placeholder="请确认支付密码">
                    </a>
                </li>
            </ul>
            <p class="password_next ">
                <a id="pay_psw" class="fr next">完成</a>
            </p>
        </section>
    </main>
</div>
<div class="login_mask"></div>
<script src="../js/jquery-1.12.3.min.js"></script>
<script src="../js/base/md5.js"></script>
<script src="../js/base/base64.js"></script>
<script src="../js/public.js"></script>
<script src="../js/loginPassword.js"></script>
</body>
</html>