<ion-view title="" id="changePayPass-view">
	<ion-content>
		<div class="currentPayPassword">
			<h2>修改支付密码</h2>
			<p>请输入当前支付密码，以验证身份</p>
			<div class="enterPassword" id="enterPassword">
			    <input type="password" class="psw01">
			    <input type="password" class="psw02">
			    <input type="password" class="psw03">
			    <input type="password" class="psw04">
			    <input type="password" class="psw05">
			    <input type="password" class="psw06">
			</div>
		</div>
		<div class="newPayPassword" style="display:none;">
			<h2>输入新支付密码</h2>
			<p>请输入新支付密码</p>
			<div class="enterPassword" id="newPasswords">
			    <input type="password" class="psw01">
			    <input type="password" class="psw02">
			    <input type="password" class="psw03">
			    <input type="password" class="psw04">
			    <input type="password" class="psw05">
			    <input type="password" class="psw06">
			</div>
		</div>
		<div class="surePayPassword" style="display:none;">
			<h2>新支付密码确认</h2>
			<p>请再次输入新的支付密码</p>
			<div class="enterPassword" id="surePassword">
			    <input type="password" class="psw01">
			    <input type="password" class="psw02">
			    <input type="password" class="psw03">
			    <input type="password" class="psw04">
			    <input type="password" class="psw05">
			    <input type="password" class="psw06">
			</div>
		</div>
	</ion-content>
</ion-view>