<ion-view title="注册" id="comProblems-view">
	<ion-content>
		<div class="list">
			<div class="item item-thumbnail-left depositBox item-text-wrap">
				<img>
	    		<h2>使用全时钱包账户收费吗？</h2>
	    		<p>注册全时钱包账户是免费的。若后续使用全时钱包其他服务需要收费请以页面提示为准。</p>
			</div>	
			<div class="item item-thumbnail-left depositBox item-text-wrap">
				<img>
	    		<h2>如何注册全时钱包</h2>
	    		<p>一、打开“注册”页，输入11位手机号并设置登录密码，点击“下一步”，打开“短信验证码”页；</p>
	    		<p>二、在“短信验证码”页点击“获取验证码”，输入正确的短信验证码及6位数字支付密码，即可快速完成注册，注册成功后即可登录；</p>
	    		<p>三、为保证资金安全，请您进行实名认证。</p>
			</div>
		</div>
	</ion-content>
</ion-view>