<ion-view title="实名认证" id="comProblems-view">
	<ion-content>
		<div class="list">
			<div class="item item-thumbnail-left depositBox item-text-wrap">
				<img>
	    		<h2>如何进行实名认证</h2>
	    		<p>在“实名认证”页输入真实姓名及身份证号，按操作提示完成。</p>
			</div>	
			<div class="item item-thumbnail-left depositBox item-text-wrap">
				<img>
	    		<h2>为什么要进行实名认证</h2>
	    		<p>一、实名认证是由全时钱包提供的一项身份识别服务，通过实名认证，您就相当于拥有了一张互联网身份证，增加您的信任度，更加可靠和客观；</p>
	    		<p>二、由众多知名银行共同参与，更具权威性；</p>
	    		<p>三、同时核实用户身份信息和银行账户信息，极大提升其真实性；</p>
	    		<p>四、认证流程简单易操作，认证信息及时反馈，用户实时掌握认证进程。</p>
			</div>
			<div class="item item-thumbnail-left depositBox item-text-wrap">
				<img>
	    		<h2>实名认证注意事项</h2>
	    		<p>一、身份信息提交后无法修改，请确保信息填写准确，否则将影响后续操作；</p>
	    		<p>二、身份认证具号码唯一性，请确保其他账户未使用其进行认证。</p>
			</div>
		</div>
	</ion-content>
</ion-view>
