<ion-view title="充值" id="comProblems-view">
	<ion-content>
		<div class="list">
			<div class="item item-thumbnail-left depositBox item-text-wrap">
				<img>
	    		<h2>如何为账户余额充值</h2>
	    		<p>一、打开“我的”页，点击“余额”，在“余额”页点击“充值”，即可打开“余额充值”页；</p>
				<p>二、在“余额充值”页输入充值金额、选择充值银行卡，点击“提交”后输入正确的短信验证码；</p>
				<p>三、操作成功后，充值成功。</p>
			</div>
			<div class="item item-thumbnail-left depositBox item-text-wrap">
				<img>
	    		<h2>如何为全时通卡充值</h2>
	    		<p>一、在钱包首页点击“全时通卡”图标或在“我的”页点击“全时通卡”，均可打开“全时通卡”列表页；</p>
				<p>二、在“全时通卡”列表页点击“添加全时通卡”;</p>
				<p>三、在“全时通卡信息”页点击“充值”;</p>
				<p>四、在“全时通卡充值”页输入充值金额、选择充值银行卡，点击“提交”后输入正确的短信验证码。</p>
				<p>五、操作成功后，该全时通卡余额增加。</p>
			</div>	
			<div class="item item-thumbnail-left depositBox item-text-wrap">
				<img>
	    		<h2>关于充值的温馨提示</h2>
	    		<p>一、单张全时通卡充值后余额最高为1000元；</p>
				<p>二、现阶段充值免费，手续费由“全时钱包”代为支付。</p>
			</div>		
		</div>
	</ion-content>
</ion-view>
