<ion-view title="常见问题" id="comProblems-view">
	<ion-content>
		<ion-list>
			<ion-item class="item-icon-right">
				<!-- <i class="icon withdrawDeposit comProblemsIcon"><img></i> -->
	    			提现
	    		<span class="icon jinru_back" ui-sref="withdrawDeposit"></span>
			</ion-item>
			<ion-item class="item-icon-right">
				<!-- <i class="icon comProblemsIcon"><img></i> -->
	    			注册
	    		<span class="icon jinru_back" ui-sref="registered"></span>
			</ion-item>
			<ion-item class="item-icon-right">
				<!-- <i class="icon comProblemsIcon"><img></i> -->
					实名认证
				<span class="icon jinru_back" ui-sref="authentication"></span>
			</ion-item>
			<ion-item class="item-icon-right">
				<!-- <i class="icon comProblemsIcon"><img></i> -->
					账户安全
				<span class="icon jinru_back" ui-sref="safe"></span>
			</ion-item>
			<ion-item class="item-icon-right">
				<!-- <i class="icon comProblemsIcon"><img></i> -->
					全时通卡
				<span class="icon jinru_back" ui-sref="comProblemsFullCard"></span>
			</ion-item>
			<ion-item class="item-icon-right">
				<!-- <i class="icon comProblemsIcon"><img></i> -->
					充值
				<span class="icon jinru_back" ui-sref="comProblemsRecharge"></span>
			</ion-item>
			<ion-item class="item-icon-right">
				<!-- <i class="icon comProblemsIcon"><img></i> -->
					添加银行卡
				<span class="icon jinru_back" ui-sref="comProblemsAddCard"></span>
			</ion-item>
			<ion-item class="item-icon-right">
				<!-- <i class="icon comProblemsIcon"><img></i> -->
					转账
				<span class="icon jinru_back" ui-sref="comProblemsTransfer"></span>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>