<ion-view title="全时通卡" id="comProblems-view">
	<ion-content>
		<div class="list">
			<div class="item item-thumbnail-left depositBox item-text-wrap">
				<img>
	    		<h2>如何添加全时通卡</h2>
	    		<p>一、打开“我的”页，点击“添加全时通卡”，打开“添加全时通卡”页；</p>
	    		<p>二、在“添加全时通卡”页输入19位全时通卡号及6位全时通卡密码后点击“提交”，即可成功添加全时通卡。</p>
			</div>	
			<div class="item item-thumbnail-left depositBox item-text-wrap">
				<img>
	    		<h2>如何申请全时通电子卡</h2>
	    		<p>一、在钱包首页点击“申请电子卡”，打开“申请全时通电子卡”页；</p>
	    		<p>二、在“申请全时通电子卡”页选择卡面额后，打开“购卡信息”页，按操作流程即可成功申请全时通电子卡。</p>
			</div>
		</div>
	</ion-content>
</ion-view>