<ion-view title="个人信息" id="personalInfor-view">
	<ion-content>
		<ion-list>
			 <ion-item class="realName-border item-icon-right">
    			姓名
    			<span class="icon personalName"><!-- {{customerNameCN}} --></span>
  			</ion-item>  
			<ion-item class="item-icon-right">
				手机号
				<span class="icon personalPhoneNum">{{mobileNo}}</span>
			</ion-item>
			<ion-item class="item-icon-right">
				身份证号
				<span class="icon personalCertNo"><!-- {{certNo}} --></span>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>