<ion-view title="" id="realNameAuth-view">
	<ion-content>
		<h2>实名认证</h2>
		<ion-list class="realNameAuth">
			<ion-item class="item-icon-left realName-border">
				<span class="real_Name"></span>
				<input class="authenticationName" type="text" name="" placeholder="请输入您的真实姓名">
			</ion-item>
			<ion-item class="item-icon-left">
				<span class="id_Card"></span>
				<input class="IdNumber" type="text" name="" placeholder="请填写您的身份证号">
			</ion-item>
			<div class="submitBut" ng-click="next_sub()">提交</div>
		</ion-list>
	</ion-content>
</ion-view>