<ion-view title="设置" id="settings-view">
	<ion-content>
		<ion-list>
			 <ion-item class="item-icon-left item-icon-right realName-border authentication" >
    			<span class="icon headPortrait"><img></span>
		    	<p class="mobileNumber">
					<span class="realName"></span>
					<span class="iphoneNum">手机号：<i>{{mobileNo}}</i></span>
		    	</p>
		    	<span class="icon jinru_back"></span>
  			</ion-item>  
			<ion-item class="item-icon-left item-icon-right passwordSetting">
				<i class="icon passwordSet"><img></i>
	    			密码管理
	    		<span class="icon jinru_back"></span>
			</ion-item>
			<ion-item class="item-icon-left item-icon-right commonProblems">
				<i class="icon comProblems"><img></i><!--commonProblems /comProblems-->
	    			常见问题
	    		<span class="icon jinru_back"></span>
			</ion-item>
			<ion-item class="item-icon-left item-icon-right customerPhoneItem">
				<i class="icon customerSer"><img></i>
					客服电话
				<span class="icon customerPhone">400-175-8899</span>
			</ion-item>
		</ion-list>
	</ion-content>
	<ion-footer-bar align-title="center" class="bar-clear homeFooter">
		<p class="title">
			<img class="footrImg">
		</p>
	</ion-footer-bar>
</ion-view>
