<ion-view title="申请信用卡" id="applyCreditCard-view">
	<ion-content>
		<h2>极速办卡</h2>
		<ion-list class="applyCreditCard">
			<ion-item class="item-icon-right" ng-click="goGongShangBank()">
				<div class="creditCard">
					<p class="p1">中国工商银行信用卡在线申请</p>
					<p class="p2">工行品质 超高颜值 更有免年费返积分送</p>
					<p class="p2">保险等VIP体验尽享多重折扣</p>
				</div>
				<p class="img img01"></p>
				<span class="icon jinru_back"></span>
			</ion-item>
			<ion-item class="item-icon-right" ng-click="goGuangDaBank()">
				<div class="creditCard">
					<p class="p1">中国光大银行信用卡在线申请</p>
					<p class="p2">办光大银行信用卡享10元美食 10元电影</p>
					<p class="p2">10元K歌 百元优享 优惠多多 还等什么</p>
				</div>
				<p class="img img02"></p>
				<span class="icon jinru_back"></span>
			</ion-item>
			<ion-item class="item-icon-right" ng-click="goPingAnBank()">
				<div class="creditCard">
					<p class="p1">平安银行信用卡在线申请</p>
					<p class="p2">首刷红包 消费返现 加油打折 月月精彩权</p>
					<p class="p2">益尽在平安信用卡</p>
				</div>
				<p class="img img03"></p>
				<span class="icon jinru_back"></span>
			</ion-item>
			<ion-item class="item-icon-right" ng-click="goPuFaBank()">
				<div class="creditCard">
					<p class="p1">浦发银行信用卡在线申请</p>
					<p class="p2">参与各卡种办卡活动</p>
					<p class="p2">享有各卡种相应优惠</p>
				</div>
				<p class="img img04"></p>
				<span class="icon jinru_back"></span>
			</ion-item>
			<ion-item class="item-icon-right" ng-click="goXingYeBank()">
				<div class="creditCard">
					<p class="p1">兴业银行信用卡在线申请</p>
					<p class="p2">参与各卡种办卡活动</p>
					<p class="p2">享有各卡种相应优惠</p>
				</div>
				<p class="img img05"></p>
				<span class="icon jinru_back"></span>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>