<ion-view title="" id="payPassword-view" cache-view="false">
	<ion-nav-buttons side="right">
      <button class="button button-light home-view-button" ui-sref="findPayPass">
        <span>忘记密码</span>
      </button>
    </ion-nav-buttons>
	<ion-content>
		<div class="payPassword">
			<h2>生活缴费</h2>
			<p>{{userNo}}</p>
			<h3><img src=""><span>{{moneys}}</span></h3>
			<i class="payText">请输入支付密码</i>
			<div class="alieditContainer" id="payPassword_container">
			    <input minlength="6" maxlength="7" tabindex="1" id="payPassword_rsainput" name="payPassword_rsainput" class="ui-input i-text" oncontextmenu="return false" onpaste="return false" oncopy="return false" oncut="return false" autocomplete="off" value="" type="password">
			    <div class="sixDigitPassword" tabindex="0">
			        <i class="active"><b></b></i>
			        <i><b></b></i>
			        <i><b></b></i>
			        <i><b></b></i>
			        <i><b></b></i>
			        <i><b></b></i>
			    </div>
			</div>
			<label ng-click="replace()">使用全时钱包付款<b>更换</b></label>
		</div>
	</ion-content>
	<div class="login_mask"></div>
	<div class="mask"></div>
	<div class="mask_all">
		<div class="mask_in">
			<img src="./h5images/logo@2x.png">
			<p><span class="mask_in_span"></span><span></span><span></span></p>
		</div>
		<div class="mask_success">
			<img src="./h5images/icon_success_pay@2x.png">
			<p>支付成功</p>
		</div>
	</div>
</ion-view>

