<div class="loginContent">
	<div class="login_box" style="height: 700px">
		<h2>关于我们</h2>
		<div class="aboutUs">
			<p>全时钱包由北京复安通电子商务有限公司（以下简称：全时金服）开发和运营，全时金服旨在以实体产业为基础、互联网为载体、信息技术为支撑的产融结合模式，对集团内产业输出金融信息科技，整合单用途预付卡、供应链金融、消费金服业务，努力打造一体化的极致消费体验场景，为集团产业客户提供全方位、高品质的消费体验和服务。全时金服自主知识产权的产品有全时通卡、全时钱包、全时收银，并与集团内各业态达成深度合作并逐步投产，服务品牌有：全时便利、全时生活、爱炉餐饮、布鲁诺咖啡、撞见旅行等。</p>
			<p>同时，全时金服拥有一支在互联网、金融、支付等行业具有资深经验和创新能力的团队，为企业高速发展、平台稳定运行保驾护航，不断提升企业核心竞争力，使之成为全球化百年企业。</p>
			<div class="aboutImg">
				<img src="../build/img/first/guanyuwomen.png">
			</div>
		</div>
	</div>
</div>