<div class="mainList">
    <div class="main_title main_title05">
    </div>
    <div class="loginContent">
        <div class="counselingCenter_box">
            <ul>
                <li>山西省食药监公布5批次不合格饮料<span>80元／条</span></li>
                <li>克明面业5228万接手五谷道场，欲发力方便食品<span>80元／条</span></li>
                <li>陕西食药监局：4批次食品抽检不合格 涉及龙富源菜籽油<span>80元／条</span></li>
                <li>宁夏食药监局抽检方便食品7批次样品 全部合格<span>80元／条</span></li>
                <li>安徽下架8批次不合格产品 涉及方便食品3样<span>80元／条</span></li>
                <li>河南23批次食品饮料不合格 近半为方便食品<span>80元／条</span></li>
                <li>湖南公布消费维权十大案例 日用百货投诉居榜首<span>80元／条</span></li>
                <li class="last">收费详情：每条信息收费80元</span></li>
            </ul>
        </div>
    </div>   
    <div class="mark" id="mark_one" style="display:none;z-index:1000;">
            <div class="mark_box">
                <span ng-click="close()">×</span>
                <div class="next_form" style="display:block;">
                    <p class="text">卡号</p>
                    <label>
                        <input type="text" placeholder="请输入您的银行卡号">
                    </label>
                    <p class="next_page next_page1">下一步</p>
                </div>
                <div class="sub_form" style="display:none;">
                    <p class="text">图形验证码：</p>
                    <label>
                        <span></span>
                        <img>
                        <input type="text" placeholder="请输入您的银行卡号">
                    </label>
                    <p class="next_page next_page2" ng-click="tijiao()">提交</p>
                </div>
            </div>          
    </div>
</div>