<main class="busMain">
	<div class="loginContent">
		<div class="login_box">
			<h2>立即登录</h2>
			<!-- <p class="back">返回</p> -->
			<!-- 立即登录   开始 -->
			<form class="login_form" style="display:block;">
				<label>手机号：</label>
				<input type="text" class="phone_number" placeholder="请输入您的手机号">
				<label>密码：</label>
				<input type="password" class="password" placeholder="请输入您的密码">
				<span class="forget_text"><a>忘记登录密码？</a></span>
				<input type="button" class="login_but loginFun" value="登录">
				<span class="forget_text2">没有密码，<i class="imRegistered" ui-sref="main.registered">快速注册</i></span>
			</form>
		</div>
	</div>
	<div class="mark" id="mark_one" style="display:none;z-index:1000;">
            <div class="mark_box">
                <span ng-click="close()">×</span>
                <div class="next_form" style="display:block;">
                    <p class="text">登录成功</p>
                </div>
            </div>          
    </div>
</main>
