<ion-view title="卡余额查询" id="cardBalanceQuery-view">
	<ion-content>
		<h2>全时通卡余额查询</h2>
		<ion-list class="cardBalanceQuery">
			<ion-item class="item-icon-left realName-border">
				<span class="lock"></span>
				<input class="fullCardNum" type="text" name="" placeholder="请输入19位全时通卡卡号">
			</ion-item>
			<ion-item class="item-icon-left">
				<span class="passwordka"></span>
				<input class="fullCardPsW" type="password" name="" placeholder="请输入6位卡密码">
			</ion-item>
			<div class="submitBut" ng-click="fullCardsQuery()">查询</div>
		</ion-list>
	</ion-content>
</ion-view>