<ion-view title="电子卡申请明细" id="paymentRecords-view" cache-view="false">
	<ion-content>
		<div class="paymentRecords applyCardRecords">
			<h2>本月</h2>
			<ul>
				<li ui-sref="applyCardList">
					<span class="one"><img src=""></span>
					<p>
						<label>-1000.00</label>
						<i>全时通电子卡</i>
					</p>
					<b>
						今日<br>09-29
					</b>
					<em>数量：10</em>
				</li>
				<li>
					<span class="two"><img src=""></span>
					<p>
						<label>-1000.00</label>
						<i>全时通电子卡</i>
					</p>
					<b>
						今日<br>09-29
					</b>
					<em>数量：10</em>
				</li>
			</ul>
			<h2>三月</h2>
			<ul>
				<li>
					<span class="one"><img src=""></span>
					<p>
						<label>-1000.00</label>
						<i>全时通电子卡</i>
					</p>
					<b>
						今日<br>09-29
					</b>
					<em>数量：10</em>
				</li>
				<li>
					<span class="two"><img src=""></span>
					<p>
						<label>-1000.00</label>
						<i>全时通电子卡</i>
					</p>
					<b>
						今日<br>09-29
					</b>
					<em>数量：10</em>
				</li>
			</ul>
		</div>
		<div class="empty" style="display: none;">
			<img src="">
			<p>暂无电子卡申请明细</p>
		</div>
	</ion-content>
</ion-view>

