<ion-view title="申请电子卡" id="applyCard-view" cache-view="false">
	<ion-nav-buttons side="right">
      <button class="button button-light home-view-button" ui-sref="applyCardRecords">
        <span>申请记录</span>
      </button>
      <button class="button button-light home-view-button" ui-sref="instructions">
        <i class="ion-ios-help-outline"></i>
      </button>
    </ion-nav-buttons>
	<ion-content>
		<div class="applyCard">
			<h2>全时电子卡</h2>
			<p>全时通卡是一款安全可靠、购买方便、服务专业，广泛应用的预付卡。</p>
			<span>请挑选您的卡片</span>
			<div>
				<img src="" ng-click="information()">
				<!-- <img src="" ui-sref="information">
				<img src="" ui-sref="information">
				<img src="" ui-sref="information"> -->
			</div>
		</div>
	</ion-content>
</ion-view>

