<ion-view title="设置支付密码" id="setPayPswd-view">
	<ion-content>
		<div class="currentPayPassword">
			<h2>设置支付密码</h2>
			<!-- <p>请输入6位数字支付密码</p> -->
			<div>
				<input class="payPswd" type="tel" id="pass1" name="" placeholder="请输入6位数字支付密码">
				<input class="confirPayPswd" type="tel" id="pass2" name="" placeholder="请再次输入6位数字支付密码">
			</div>
<!-- 			<div>
				<input type="password" name="">
				<input type="password" name="">
			</div> -->
			<p class="submit" ng-click="setPayPswdFun()">提交</p>
			</div>
	</ion-content>
</ion-view>