<div class="wrap_main_all wrap_main_all_other client_wrap">
	<h2>客户端下载</h2>
	<div class="client_box">
		<div class="fl client_left">
			<div class="client_title">
				<!-- <img ng-src="{{imagesSRC+'use/logo.png'}}"/> -->
				<img ng-src="./build/use/logo.png"/>
				<h3>全时钱包APP下载</h3>
				<p>全新版本 诚邀下载</p>
			</div>
			<dl class="client_dimension">
				<dt class="fl"><!-- <img ng-src="{{imagesSRC+'use/qr.png'}}"/> --><img ng-src="./build/use/qr.png"/></dt>
				<dd class="fr client_ios" ng-click="ios()">
					<!-- <img ng-src="{{imagesSRC+'use/ios.png'}}"/> -->
					<img ng-src="./build/use/ios.png"/>
				</dd>
				<dd class="fr client_android" ng-click="android()">
					<!-- <img ng-src="{{imagesSRC+'use/android.png'}}"/> -->
					<img ng-src="./build/use/android.png"/>
				</dd>
				<dd class="fr client_ios_iphone" ng-click="iosIphone()" style="display:none;">
					<!-- <img ng-src="{{imagesSRC+'public/ios.png'}}"/> -->
					<img ng-src="./build/public/ios.png"/>
				</dd>
				<dd class="fr client_android_iphone" ng-click="androidIphone()" style="display:none;">
					<!-- <img ng-src="{{imagesSRC+'public/android.png'}}"/> -->
					<img ng-src="./build/public/android.png"/>
				</dd>
			</dl>
		</div>
		<div class="fr client_right" id= "client_right">
			<!-- <img ng-src="{{imagesSRC+'use/mobile.png'}}"/> -->
			<img ng-src="./build/use/mobile.png"/>
		</div>
		<div class="client_footer">
			<!-- <img ng-src="{{imagesSRC+'use/app.png'}}"/> -->
			<img ng-src="./build/use/app.png"/>
		</div>
		<div class="client_footer_phone" style="display:none">
			<!-- <img ng-src="{{imagesSRC+'public/app.png'}}"/> -->
			<img ng-src="./build/public/app.png"/>
		</div>
	</div>	
</div>
