<div class="wrap_main_all wrap_main_all_other">
	<h2 class="newGuild">新手指引</h2>
	<span class="back approve_back"><a>返回</a></span>
	<div class="guild">
		<header class="guild_header">
			<p>
				<a ng-click="guild()" style="font-size:1rem;">新手上路</a>
				<span></span>
			</p>
			<div  class="search">
				<input type="text" placeholder="搜索您的问题"></input>
				<label></label>
			</div>
		</header>
		<main class="guild_main">
			<ul style="">
				<li><a style="color: #EA5532" ng-click="liaojie()">了解全时钱包</a></li>
				<li class="li02"><a>用户在平台签订的电子合同受法律保护吗？</a></li>
				<li><a>如何保障我的信息安全？</a></li>
				<li><a>全时钱包客服电话：400-175-8899</a></li>
			</ul>
			<div class="xinshoushanglu" style="display:none">
				<h4 class="title">了解全时钱包</h4>
				<p class="p1" style=" text-indent: 2em;line-height:25px;color:#333;font-size:.8rem;">全时钱包是复华商业集团发行的单用途预付卡的管理应用，致力于为复华商业旗下商业体用户提供安全、便捷的企业钱包服务。</p>
			</div>
		</main>
		<footer class="help_footer" style="display:none"></footer>
	</div>
</div>