<div class="wrap_main_all wrap_main_all_other">
	<h2>消息中心</h2>
	<p class="approve_back back">返回消息</p>
	<div class="help news" ng-show="show_news">
		<header class="help_header news_header">
			<p>
				<a>消息</a>
				<a>通知</a>
				<span></span>
			</p>
		</header>
		<!-- <main class="help_main about_main news_main">
			<h3>全时钱包新手礼金券，入账通知<br><span>2016.11.12</span></h3>
			<p>全时钱包新手礼金券，已入您全时钱包新手礼金券，已入您的账户全时钱包新手礼金券，已入您的账户全时钱包新手礼金券，已入您的账户全时钱包新手礼金券，已入您的账户的账户</p>
			<p>全时钱包新手礼金券，已入您全时钱包新手礼金券，已入您的账户全时钱包新手礼金券，已入您的账户全时钱包新手礼金券，已入您的账户全时钱包新账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼手礼金券，已入您的账新账户全新账户全新账户全新账户全户的账户</p>
			<p>全时钱包新手礼金券，已入您全时钱包新手礼金券，已入您的账户全时钱包新手礼金券，已入您的账户全时钱包新手礼金券，已入您的账户全时钱包新账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼账户全时钱包新手礼手礼金券，已入您的账户的账户</p>
		</main> -->
		<main class="help_main about_main news_main">
			<ul>
				<li><span>2016.11.12</span>您收到一条入账消息，请点击查看</li>
				<li><span>2016.11.12</span>为什么银行卡绑定不成功？</li>
				<li><span>2016.11.12</span>全时通卡与账户余额有什么区别吗？</li>
				<li><span>2016.11.12</span>您收到一条入账消息，请点击查看</li>
				<li><span>2016.11.12</span>为什么银行卡绑定不成功？</li>
				<!-- <li><span>2016.11.12</span>全时通卡与账户余额有什么区别吗？</li>
				<li><span>2016.11.12</span>您收到一条入账消息，请点击查看</li>
				<li><span>2016.11.12</span>为什么银行卡绑定不成功？</li>
				<li><span>2016.11.12</span>全时通卡与账户余额有什么区别吗？</li>
				<li><span>2016.11.12</span>您收到一条入账消息，请点击查看</li>
				<li><span>2016.11.12</span>为什么银行卡绑定不成功？</li>
				<li><span>2016.11.12</span>全时通卡与账户余额有什么区别吗？</li> -->
			</ul>
		</main>
	</div>
</div>
<div class="news_bounced">
	<ul>
		<li ng-click="show_news()"><span>(5)</span>消息</li>
		<li ng-click="show_news()"><span>(1)</span>通知</li>
	</ul>
	<p ng-click="show_news()">打开消息中心</p>
</div>
<div class="triangle news_triangle"></div>