<main class="wrap_left_main">
    <div class="wrap_main_all register_box">
        <div class="password_side_bar">
            <p><span class="s1"><b class="b1 current">1</b></span>输入手机号</p>
            <p><span class="s2"><b class="b2">2</b></span>验证身份</p>
            <p><span class="s3"><b class="b3">3</b></span>重置密码</p>
            <p><span class="s4"><b class="b4">4</b></span>完成</p>
        </div>
        <h4>找回密码</h4>
        <span class="backIndex" style="cursor:pointer;display:none">返回</span>
        <form class="password_form">
            <!-----------------找回密码 1  ------------------>
            <p class="error_message" style="display:none">
                <span class="error_tip"><!-- <img ng-src="{{imagesSRC+'login/cuowu.png'}}"> --><img ng-src="./build/login/cuowu.png"></span><b>图形验证码错误</b>
            </p>
            <div class="form_group" id="form_group_iphones" style="display: block">
                <label>手机号：</label><!-- <span class="tell_colse"></span> -->
                <input class="phone_number" type="text" placeholder="请输入手机号">
            </div>
            <div class="form_group form_group_iphone" id="form_group_iphones" style="display: block">
                <label>图形验证码：</label>
                <span class="img_code" ng-click="changeImg()"><img ng-src="{{preurl+'/PublicAction.getRandomImgCode.do?FAPView=JSON?'}}" id="pic_num"></span>
                <!-- <span class="succeed_img"></span> -->
                <input type="text" id="img_codeText" placeholder="请输入右侧图形验证码">
            </div>
            <!------------------找回密码 2  ------------------>
            <div class="password_error_message" style="display: none">
                <span class="tell_icon"></span>
                <p class="p1">请点击获取验证码并在手机：<span class="message_number">{{mobile}}</span>中查看短信验证码</p>
                <p class="p2" style="display:none;"></p>
            </div>
            <div class="password_form_group" style="display: none">
                <label>短信验证码：</label>
                <span class="gain gain_iphone">
                	<a class="sign_next_again" style="display:block;">点击获取</a>
                	<a class="sign_next_time" style="background:none;display:none">
            			<b class="sign_time"></b>秒后再获取
            		</a>
                </span>
                <input class="message_code" type="text" placeholder="请输入短信验证码">
            </div>
            <!------------------找回密码 3  ------------------>
            <div class="setpassword_form_group" style="display: none">
                <label>设置登录密码：</label>
                <input class="logo_passm" type="password">
            </div>
            <div class="setpassword_form_group setpassword_form_group_iphone" style="display:none">
                <label>确认登录密码：</label>
                <input class="logo_passm2" type="password">
            </div>
            <!------------------完成 立即登录  ------------------>
            <div class="complete" style="display: none">
                <span class="complete_img"></span>
                <span>密码重置成功！ </span>
                <span>请您牢记新密码</span>
            </div>
            <!------------------下一步 next  ------------------>
            <div class="next" style="display: block">
                <a class="enterPhonenumber">下一步</a>
            </div>
            <div class="password_next" style="display: none">
                <a class="authenticate">下一步</a>
            </div>
            <div class="password_set" style="display: none">
                <a class="forgetLoginPassword">下一步</a>
            </div>
            <div class="complete_login" style="display: none">
                <a ng-click="loginPass()">立即登录</a>
            </div>
        </form>
    </div>
</main>
