<div class="wrap_main_all wrap_main_all_other">
	<h2>设置支付密码</h2>
	<span class="approve_back"><a>返回</a></span>
	<form class="pay_password_form">
		<p class="error_message" style="opacity:0">
            <span class="error_tip" style="display:block"><!-- <img ng-src="{{imagesSRC+'login/cuowu.png'}}"> --><img ng-src="./build//login/cuowu.png"></span><b></b>
        </p>
		<div class="safety_form_group" style="display: block">
			<label>支付密码：</label>
			<input class="paymentCode" type="password" id="payPsw">
		</div>
		<div class="safety_form_group" style="display:block;">
			<label>确认支付密码：</label>
			<input class="confirmPayPswd" type="password" id="confirm_psw">
		</div>
		<div class="change_password_submit" style="display: block" ng-click="set_paypassword_login()">
			<a>提交</a>
		</div>
	</form>
	<div class="mark" id="mark_one" style="display:none">
		<div>
			<span ng-click="close()">×</span>
			<p class="text"></p>
			<p ng-click="close()" class="true change"><a>确定</a></p>
		</div>			
	</div>
</div>