<main class="wrap_left_main">
    <div class="wrap_main_all register_box">
        <h4>快速注册</h4>
        <span class="backIndex" style="cursor:pointer;display:none">返回</span>
        <!-- 快速注册 -->
        <form class="register_form" style="display:block">
            <p class="error_message" style="opacity:0">
                <span class="error_tip" style="display:block"><!-- <img ng-src="{{imagesSRC+'login/cuowu.png'}}"> --><img ng-src="./build/login/cuowu.png"></span><b></b>
            </p>
            <div>
                <label>手机号：</label>
                <input class="phone_number" type="text" placeholder="请输入手机号" id="phone_number">
            </div>
            <div class="form_group">
                <label>短信验证码：</label><span class="gain"><a class="sign_next_again">点击获取</a><a class="sign_next_time" style="border:none;background:none;display:none"><b class="sign_time"></b>秒后再获取</a></span>
                <input class="message_code" type="text" placeholder="请输入短信验证码" id="message_code">
            </div>
            <div>
                <label>邀请码（选填）：</label>
                <input class="phone_number" type="text" placeholder="如果经人推荐，请输入邀请码" id="img_code">
            </div>
            <br/>
            <div class="form_group">
                <p><input class="agree" type="checkbox"><span class="agree_text">我已阅读并同意<b><a ng-click="registrationAgreement()">《全时钱包服务协议》</a></b></span></p>
            </div>
            <div class="next"  ng-click="register_next()">
                <a>下一步</a>
            </div>
            <p class="next_denglu">已有账号，<a ng-click="registerLogin()">立即登录</a></p>
        </form>        
        <!-- 设置登录密码 -->
        <form class="register_form2" style="display:none">
            <p class="error_message" style="opacity:0">
                <span class="error_tip" style="display:block"><!-- <img ng-src="{{imagesSRC+'login/cuowu.png'}}"> --><img ng-src="./build/login/cuowu.png"></span><b></b>
            </p>
            <div class="form_group">
            	<label>设置登录密码</label>
                <input class="login_pass" type="password" placeholder="请设置登录密码" id="login_pass">
            </div>
            <div class="form_group">
            	<label>确认登录密码</label>
                <input class="confirmlogin_pass" type="password" placeholder="请再次输入您设置的登录密码" id="confirmlogin_pass">
            </div>
            <div class="form_group">
            	<label></label>
            </div>
            <div class="next"  ng-click="login_pass()">
                <a>下一步</a>
            </div>
        </form>
        <!-- 设置支付密码 -->
        <form class="pay_form" style="display:none">
            <p class="error_message" style="opacity:0">
                <span class="error_tip" style="display:block"><!-- <img ng-src="{{imagesSRC+'login/cuowu.png'}}"> --><img ng-src="./build/login/cuowu.png"></span><b></b>
            </p>
            <div class="form_group">
            	<label>设置支付密码</label>
                <input class="pay_pass" type="password" placeholder="请设置支付密码" id="pay_password">
            </div>
            <div class="form_group">
            	<label>确认支付密码</label>
                <input class="pay_pass2" type="password" placeholder="请再次输入您设置的支付密码" id="pay_pass2">
            </div>
            <div class="form_group">
            	<label></label>
            </div>
            <div class="next"  ng-click="submitRegist()">
                <a>提交</a>
            </div>
        </form>
        <!-- 立即登录 -->
        <form class="login_form" style="display:none">
            <p class="error_message" style="opacity:0">
                <span class="error_tip" style="display:block"><!-- <img ng-src="{{imagesSRC+'login/cuowu.png'}}"> --><img ng-src="./build/login/cuowu.png"></span><b></b>
            </p>
            <div class="form_group">
            	<label>手机号:</label>
                <input class="loginPhone_number" type="text" placeholder="请输入您的手机号" id="loginPhone_number">
            </div>
            <div class="form_group">
            	<label>密码:</label>
                <input class="login_password" type="password" placeholder="请输入您的登录密码" id="login_password">
            </div>
            <div class="form_group">
                <label>图形验证码：</label><span class="img_code" ng-click="changeImg()"><img id="pic_num" ng-src="{{preurl+'/PublicAction.getRandomImgCode.do?FAPView=JSON?'}}"></span>
                <input id="image_code" type="text" placeholder="请输入右侧图形验证码">
            </div>
            <p class="pass_text"><a ui-sref="wrap.password">忘记登录密码？</a></p>
            <div class="form_group">
            	<label></label>
            </div>
            <div class="next"  ng-click="immediatelyLogin()">
                <a>立即登录</a>
            </div>
            <p class="next_denglu">没有密码，<a ng-click="loginRegister()">快速注册</a></p>
        </form>
        <div class="mark" id="mark_two" style="display:none;z-index:1000;">
			<div>
				<span class="closs">×</span>
				<p class="text"></p>
				<p><a class="change">确定</a></p>
			</div>			
		</div>
    </div>
    <div class="mark" id="mark_registration" style="display:none">
		<div>
			<span ng-click="close()">×</span>
			<h4>全时钱包服务协议</h4>
			<h6>最后更新时间：2016年9月6日</h6>
			<div class="agreement">
				<p>全时钱包服务协议<br>

一.全时钱包服务协议的确认<br>
二.全时钱包服务相关定义<br>
三.全时钱包为您提供的服务内容<br>
四.全时钱包会员号和账户的注册、使用和注销<br>
五.使用全时钱包服务的注意事项<br>
六.用户合法使用全时钱包服务的承诺<br>
七.权益保障及隐私保护<br>
八.不可抗力、免责及责任限制<br>
九.完整协议<br>
十.知识产权的保护<br>
十一.法律适用与管辖<br>
<br>
感谢您选择全时钱包服务。全时钱包服务协议（以下简称本协议）由北京复安通电子商务有限公司（以下简称复安通）和您签订。<br>
<br>
一.	全时钱包服务协议的确认<br>
1.本协议有助于您了解全时钱包为您提供的服务内容及您使用服务的权利和义务，请您仔细阅读（特别是以粗体标注的内容）。如果您对本协议的条款有疑问，您可通过本网站（下文定义）的客服电话400-898-5888进行咨询。<br>
2.如本协议发生变更，全时钱包将通过www.ohepay.com网站公告的方式提前予以公布，变更后的协议在公告期届满起生效。若您在协议生效后继续使用全时钱包服务的，表示您接受变更后的协议，也将遵循变更后的协议使用全时钱包服务。<br>
3.如您为无民事行为能力人或为限制民事行为能力人，请告知您的监护人，并在您监护人的指导下阅读本协议和使用全时钱包服务。若您是中国大陆以外的用户，您还需同时遵守您所属国家或地区的法律，且您确认，订立并履行本协议不受您所属、所居住或开展经营活动或其他业务的国家或地区法律法规的限制。 <br>
<br>
二.全时钱包服务相关定义<br>
1.全时钱包会员号（或称“会员号”）：指您按照全时钱包提供的方式取得的，供您使用部分全时钱包服务的编号。会员号登录名是您的手机号码。如您只持有会员号，则不能使用余额服务（下文定义）。<br>
2.全时钱包账户（或称“账户”）：指您获得全时钱包会员号且通过全时钱包身份验证后取得的供您使用全时钱包服务的支付账户。您取得全时钱包账户后，会员号登录名即成为您全时钱包账户登录名。除本协议另有约定外，全时钱包账户持有人可以使用余额服务。<br>
3.全时钱包登录名：指您注册全时钱包会员号或全时钱包账户时提供的用于登录的手机号。<br>
4.身份要素：指全时钱包用于识别您身份的信息要素，包括但不限于您的会员号、全时钱包账户、密码、数字证书、短信校验码、支付盾、手机号码及身份证件号码。<br>
5.本网站：除本协议另有规定外，指www.ohepay.com及/或全时钱包客户端。<br>
6.有权机关：指依照法律法规等有权要求查询、冻结或扣划资金等措施的单位，包括但不限于公安机关、检察院、法院、海关、税务机关。<br>
7.冻结：指有权机关要求的冻结。被冻结余额不能用于支付、提现或转账等，被冻结账户不可登录、使用。<br>
8.限制：指除冻结情况之外，全时钱包会员号或账户部分或全部功能不能使用，以及会员号或账户相关资产、账户余额、第三方提供的授信额度不能使用。<br>
9.止付：限制措施的一种，指全时钱包账户余额不能使用，例如不能用于支付、提现或转账等服务。<br>
10.余额服务：指基于全时钱包账户余额可以使用的充值、消费、收款、转账等服务。除本协议另有规定外，余额服务的功能及收付款额度将按照《非银行支付机构网络支付业务管理办法》及其他监管规定进行调整。<br>
<br>
<br>
三.全时钱包为您提供的服务内容<br>
全时钱包服务是全时钱包向您提供的非金融机构支付服务，是受您委托代您收款或付款的资金转移服务。<br>
其中，代收代付款项服务是指全时钱包为您提供的代为收取或代为支付款项的服务。<br>
通过代收服务，您可以收到他人向您支付的款项，具体是指自您委托全时钱包将您银行卡内的资金充值到您的全时钱包账户或委托全时钱包代为收取第三方向您支付的款项之时起至根据您的指令将该等款项的全部或部分实际入账到您的银行账户或全时钱包账户之时止（含提现）的整个过程。<br>
通过代付服务，您可以支付款项给您指定的第三方。代付具体是指自款项从您指定账户（非全时钱包账户）出账之时起至全时钱包根据您或有权方给出的指令将上述款项的全部或部分入账到第三方的银行账户或全时钱包账户之时止的整个过程；或自您根据本协议委托全时钱包将您银行卡的资金充值到您或他人的全时钱包账户或自您因委托全时钱包代收相关款项并入账到您的全时钱包账户之时起至委托全时钱包根据您或有权方给出的指令将上述款项的全部或部分入账第三方的银行账户或全时钱包账户之时止的整个过程。<br>
全时钱包代收代付后，非经法律程序或者非依本协议之约定，该指令是不可撤销的。<br>
代收代付款项服务的功能有如下几类：<br>
1.充值，您可以将您银行卡内的资金充值到您的全时钱包账户。<br>
2.提现，您可以将您全时钱包账户内余额划转至您名下的可接收款项的中国大陆银行账户。除被冻结、止付或其他限制款项外，全时钱包将于收到提现指令后的合理时间内，将相应款项汇入该银行账户。此外，我们可能会对提现进行风险审查，因此可能导致提现延迟。<br>
3.转账，您可以使用全时钱包服务，委托全时钱包将款项转至收款方全时钱包账户。 使用转账服务是基于您对收款方的充分了解（包括但不限于收款方的真实身份及准确的全时钱包登录名），请您谨慎核对收款方信息以免受到损失。<br>
<br>
四.全时钱包会员号和账户的注册和使用<br>
（一）注册<br>
您完成全时钱包会员号注册并激活后，即可使用部分全时钱包服务；您还可以进一步申请并通过全时钱包验证后取得全时钱包账户，使用更多服务。具体验证方式以本网站页面提示为准。<br>
<br>
（二）使用<br>
身份要素是全时钱包识别您身份的依据，请您务必妥善保管。 使用身份要素进行的任何操作、发出的任何指令均视为您本人做出。因您的原因造成的账户、密码等信息被冒用、盗用或非法使用，由此引起的一切风险、责任、损失、费用等应由您自行承担。 您同意：<br>
1.基于不同的终端以及您的使用习惯，我们可能采取不同的验证措施识别您的身份。例如您的全时钱包账户在新设备首次登录的，我们可能通过密码加校验码的方式识别您的身份。<br>
2.为保障您的资金安全，请把手机及其他设备的密码设置成与全时钱包会员号及账户的密码不一致。如您发现有他人冒用或盗用您的会员号、账户或者全时钱包登录名及密码，或您的手机或其他有关设备丢失时，请您立即以有效方式通知全时钱包；您还可以向全时钱包申请暂停或停止全时钱包服务。您理解全时钱包对您的请求采取行动需要合理时间，如全时钱包未在合理时间内采取有效措施，导致您损失扩大的，全时钱包将就扩大的损失部分承担责任，但全时钱包对采取行动之前已执行的指令不承担责任。<br>
3.全时钱包会员号和账户仅限您本人使用，不可转让、借用、赠与、继承，但全时钱包账户内的相关财产权益可被依法继承。      <br>                           
4.基于运行和交易安全的需要，全时钱包可以暂停或者限制全时钱包服务部分功能，或增加新的功能。                                  <br>                   
5.为了维护良好的网络环境，全时钱包有时需要了解您使用全时钱包服务的真实背景及目的，如全时钱包要求您提供相关信息或资料的，请您配合提供。<br>
6.为了您的交易安全，您在使用全时钱包服务时，请事先判断交易对方是否具有完全民事行为能力并谨慎决定是否使用全时钱包服务与对方进行交易。<br>
<br>
五.使用全时钱包服务的注意事项<br>
为有效保障您使用全时钱包服务时的合法权益，全时钱包提醒您注意以下事项：<br>
（一）身份验证<br>
1.您在注册、使用全时钱包服务的过程中，请您提供合法、真实、有效、准确并完整的资料（包括但不限于身份证、户口本、护照、营业执照、开户许可证等证明、联系方式、从事职业、通讯地址）。 为了能将账户资金变动及时通知到您，以及更好保障您的账户安全，如该等资料发生变更，请您及时通知全时钱包。 为了及时有效地验证您的信息（包括但不限于身份信息、账户信息、购汇额度），根据法律法规及监管规定或全时钱包认为有需要时，您同意我们可以把您的信息提供给第三方，也同意第三方可以把您的信息提供给全时钱包，以便全时钱包进行验证。您应确保全时钱包登录名、会员号均为您本人持有，如您占用了他人的手机号的，为避免给手机号持有人带来不便或不利影响，也为了您的资金安全，全时钱包可能将该手机号从您的会员号或账户中删除并解除关联。<br>
2.为了满足相关监管规定的要求，您同意按照全时钱包的要求及通知的时间提供您的身份信息以完成身份验证，否则您可能无法进行收款、提现、余额支付等操作，且全时钱包可能对您的账户余额进行止付或注销您的账户。<br>
（二）存在如下情形时，全时钱包会对您名下会员号或/及全时钱包账户暂停或终止提供全时钱包服务，或对余额进行止付，且有权限制您所使用的产品或服务功能（包括但不限于对这些会员号或/及账户名下的款项和在途交易采取止付、取消交易、调账等限制措施）：  <br>                                                     
（1）您违反了本协议的约定；<br>
（2）根据法律法规及法律文书的规定；<br>
（3）根据有权机关的要求；<br>
（4）您的会员号或账户操作、资金流向等存在异常时；您的会员号或账户可能产生风险的；<br>
（5）您在参加市场活动时有批量注册全时钱包会员号或账户、刷信用、交易内容不符或作弊等违反活动规则、违反诚实信用原则的；<br>
（6）他人向您全时钱包账户错误汇入资金等导致您可能存在不当获利的；<br>
（7）您遭到他人投诉，且对方已经提供了一定证据的；<br>
（8）您可能错误地操作他人全时钱包会员号或账户，或者将他人会员号或账户进行了身份验证的。<br>
<br>
除（2）、（3）规定的情形外，如您申请恢复服务、解除上述止付或限制，请您向我们提供相关资料及身份证明等文件，以便全时钱包进行核实。        <br>                              
（三）全时钱包服务规则<br>
1.为了您能获得良好的支付体验，您理解并认可，全时钱包可根据您的支付习惯或全时钱包推荐的设置向您提供全时钱包服务，如根据您的支付习惯进行支付渠道的排序。<br>
<br>
2.您使用扫码方式或使用 “当面付”进行支付时，您无需输入密码即可在一定额度内完成支付，全时钱包会按照商家确定的金额从您的资产（扣款渠道视情况而定）里扣款给商家。<br>
3.全时钱包服务中您可使用的收付款额度、日累计转账限额和笔数，可能因您使用该支付服务时所处的国家/地区、监管要求、支付场景、银行额度控制、全时钱包风险控制、身份要素验证等事由而有不同，具体请见本网站页面提示或公告。<br>
4.您认可全时钱包会员号或账户的使用记录、交易数据等均以全时钱包系统记录为准。如您对该等数据存有异议的，可及时向全时钱包提出异议，并提供相关证据供全时钱包核实。 <br>
5.如您使用全时钱包代扣服务的，下面任一情况下均会导致扣款不成功：<br>
（1）您指定的账户余额不足；<br>
（2）您指定的会员号或账户已被采取止付、冻结或其他限制使用权限的措施；<br>
（3）超出监管部门、全时钱包或银行规定的付款额度。               <br>                    
6.您在使用全时钱包服务过程中，本协议内容、网页上出现的关于操作的提示或全时钱包发送到手机的信息内容是您使用全时钱包服务的相关规则。                          <br>                   
7.全时钱包会以网站公告、发送短信、电话、站内信或客户端通知等方式向您发送通知，例如通知您交易进展情况，或者提示您进行相关操作，请您及时予以关注。<br>
8.服务咨询与投诉<br>
   您在使用全时钱包的服务过程中，如遇到问题，您可以通过拨打400-898-5888或者通过在线客服等方式联系我们。<br>
  如您被他人投诉或投诉他人，我公司将有权将您的主体信息、联系方式、投诉相关的内容等必要信息提供给争议向对方或相关部门，以便及时解决投诉纠纷，以保护您及他人的合法权益；但法律法规另有规定的除外。<br>
<br>
（四）全时钱包服务的承诺和声明<br>
1.全时钱包并非银行，本协议项下涉及的资金转移均通过银行来实现，您接受资金在转移途中产生的合理时间。<br>
2.您理解，基于相关法律法规，对本协议项下的任何服务，全时钱包均不提供任何担保、垫资。<br>
3.全时钱包会将您委托全时钱包代收或代付的款项，严格按照法律法规或有权机关的监管要求进行管理 。全时钱包提请您注意，全时钱包账户所记录的资金余额不同于您本人的银行存款，不受《存款保险条例》保护，其实质为您委托全时钱包保管的、所有权归属于您的预付价值。该预付价值对应的货币资金虽然属于您，但不以您本人名义存放在银行，而是以全时钱包名义存放在银行，并且由全时钱包向银行发起资金调拨指令。<br>
<br>
（五）交易风险提示<br>
在使用全时钱包服务时，若您或您的交易对方未遵从本协议或相关网站说明、交易、支付页面中之操作提示、规则，则全时钱包有权拒绝为您与交易对方提供服务，且全时钱包不承担损害赔偿责任。 若发生前述情形，而款项已先行入账您的全时钱包账户，您同意全时钱包有权直接自相关账户中扣回相应款项及（或）禁止您要求支付此笔款项之权利。                        <br>                            
<br>
（六）服务费用<br>
您使用本服务时，全时钱包现在不向您收取相关服务之手续费用。全时钱包拥有制定及不时调整服务手续费之权利。除非另有说明或约定，您同意全时钱包有权自您委托全时钱包代收或代付的款项或者其他资产中直接扣除上述服务费用。<br>
<br>
六.用户合法使用全时钱包服务的承诺<br>
1.您应遵守中华人民共和国相关法律法规及您所属、所居住或开展经营活动或其他业务的国家或地区的法律法规，不得将全时钱包服务用于任何非法目的（包括用于禁止或限制交易物品的交易），也不得以任何非法方式使用全时钱包服务。<br>
2.您不得利用全时钱包服务从事侵害他人合法权益之行为或违反国家法律法规， 否则全时钱包有权进行调查、延迟或拒绝结算或停止提供全时钱包服务，且您应独立承担所有相关法律责任，因此导致全时钱包或全时钱包雇员或其他方受损的，您应承担赔偿责任。<br>
3.上述1和2适用的情况包括但不限于：<br>
（1）侵害他人名誉权、隐私权、商业秘密、商标权、著作权、专利权等合法权益。<br>
（2）违反依法定或约定之保密义务。<br>
（3）冒用他人名义使用全时钱包服务。<br>
（4）从事不法交易行为， 如洗钱、恐怖融资、贩卖枪支、毒品、禁药、盗版软件、黄色淫秽物品、其他全时钱包认为不得使用全时钱包服务进行交易的物品等。<br>
（5）提供赌博资讯或以任何方式引诱他人参与赌博。<br>
（6）未经授权使用他人银行卡，或利用信用卡套取现金（以下简称套现）。<br>
（7）进行与您或交易对方宣称的交易内容不符的交易，或不真实的交易。<br>
（8）从事任何可能侵害全时钱包服务系统、数据之行为。<br>
4.您理解，全时钱包服务有赖于系统的准确运行及操作。若出现系统差错、故障或其他原因引发的展示错误、您或全时钱包不当获利等情形，您同意全时钱包可以采取更正差错、扣划款项等适当纠正措施。<br>
5.您不得对全时钱包系统和程序采取反向工程手段进行破解，不得对上述系统和程序（包括但不限于源程序、目标程序、技术文档、客户端至服务器端的数据、服务器数据）进行复制、修改、编译、整合或篡改，不得修改或增减全时钱包系统的任何功能。<br>
<br>
<br>
七.权益保障及隐私保护<br>
1.客户权益保障承诺<br>
全时钱包一直秉承“客户第一”的原则，并一直努力为您的权益提供各种保障。<br>
2.用户资金保障<br>
全时钱包始终重视保护用户的资金安全，将自有资金和用户资金分开存放，承诺不挪用、占用用户资金。如您在使用全时钱包服务过程中，由于您的全时钱包账户被盗用造成资金损失，经全时钱包同意，您可授权全时钱包代表您向相关责任第三方或赔付机构进行追偿。您与复安通另有约定的除外。<br>
3.隐私权保护<br>
全时钱包重视对您隐私的保护，并对您的身份资料和其他特定资料提供保护及保障。<br>
<br>
八.不可抗力、免责及责任限制<br>
（一）免责条款<br>
因下列原因导致全时钱包无法正常提供服务，全时钱包不承担责任：<br>
1.全时钱包系统停机维护或升级；<br>
2.因台风、地震、洪水、雷电或恐怖袭击等不可抗力原因；<br>
3.用户的电脑软硬件和通信线路、供电线路出现故障的；<br>
4.用户操作不当或通过非全时钱包授权或认可的方式使用全时钱包服务的；<br>
5.因病毒、木马、恶意程序攻击、网络拥堵、系统不稳定、系统或设备故障、通讯故障、电力故障、银行原因 、第三方服务瑕疵或政府行为等原因。<br>
尽管有前款约定，全时钱包将采取合理行动积极促使服务恢复正常。<br>
（二）全时钱包责任范围及责任限制<br>
1.全时钱包用户信息是由用户本人自行提供的，全时钱包无法保证该信息之准确、有效和完整。<br>
2.全时钱包可能同时为您及您的（交易）对手方提供全时钱包服务，您同意对全时钱包可能存在的该等行为予以明确豁免任何实际或潜在的利益冲突，并不得以此来主张全时钱包在提供全时钱包服务时存在法律上的瑕疵。<br>
<br>
九.完整协议<br>
1.本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。<br>
2.如本协议中的任何条款无论因何种原因被视为完全或部分无效或不具有执行力，该条应视为可分的，且不影响本协议的任何其余条款的有效性、约束力及可执行性。<br>
3.本协议中的标题仅为方便而设，不具法律或契约效果。<br>
<br>
十、知识产权的保护<br>
<br>
1.全时钱包及关联公司所有系统及本网站上所有内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由全时钱包或全时钱包关联公司依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。<br>
2.非经全时钱包或全时钱包关联公司书面同意，任何人不得擅自使用、修改、反向编译、复制、公开传播、改变、散布、发行或公开发表本网站程序或内容。<br>
3.尊重知识产权是您应尽的义务，如有违反，您应承担损害赔偿责任。<br>
<br>
十一、 法律适用与管辖<br>
<br>
本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。因本协议产生之争议，均应依照中华人民共和国法律予以处理，并由被告住所地人民法院管辖。
				</p>
			</div>				
		</div>			
	</div>
</main>
