<ion-view title="我的邀请名单" id="invitationList-view" cache-view="false">
	<ion-content>
		<div class="invitationList">
			<p>
				<span>邀请人</span>
				<span>注册时间</span>
				<span>是否绑定银行卡</span>
			</p>
			<ul>
				<li>
					<span>139****0900</span>
					<span>2017-04-01 11:28:02</span>
					<span>是</span>
				</li>
				<li>
					<span>139****0900</span>
					<span>2017-04-01 11:28:02</span>
					<span>是</span>
				</li>
				<li>
					<span>139****0900</span>
					<span>2017-04-01 11:28:02</span>
					<span>是</span>
				</li>
			</ul>
		</div>
		<div class="empty">
			<img src="">
			<p>您还未邀请任何人</p>
		</div>
	</ion-content>
</ion-view>
